/* Import a modern font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');


body {
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 24px;
    margin-bottom: 25px;
    text-align: center;
}

/*
.container {
    background-color: #f8f9fa;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: 50px auto;
    padding: 25px;
}
*/

.container {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 30px;
    max-width: 500px;
    margin: 50px auto;
}


input, select, button {
    font-size: 14px;
    margin-bottom: 15px;
}

input[type=number] {
    width: 60px;
}

.password-strength-meter {
    height: 10px;
    margin-top: 10px;
    overflow: hidden;
    background-color: #f0f0f0;
    border-radius: 2px;
}

.password-strength-meter div {
    height: 100%;
}

button {
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    margin-top: 10px;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    transition-duration: 0.4s;
    transition: all 0.3s;
}

button:hover {
    background-color: #0069d9;
    color: white;
    transition: all 0.3s;
}

.hidden {
    display: none;
}

#copy-message {
  display: inline;
  font-size: 14px;
  margin-left: 10px;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  transform: translateY(0);
}



#password-length-display {
    font-size: 14px;
    margin-left: 5px;
}


.password-input {
  font-size: 1.5em;
  text-align: center;
  border: none;
  outline: none;
  background-color: transparent;
}


#password {
  max-width: 100%;
  box-sizing: border-box;
}



button {
    background-image: linear-gradient(135deg, #007bff 0%, #2ca1fd 100%);
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: white;
    cursor: pointer;
    font-size: 14px;
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    transition: all 0.3s;
}

button:hover {
    background-image: linear-gradient(135deg, #0069d9 0%, #3490fd 100%);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
    transition: all 0.3s;
}

button:active {
    box-shadow: none;
    transform: translateY(1px);
}



/* Add transitions to input elements */
input, select {
    border: 1px solid #cccccc;
    border-radius: 4px;
    padding: 5px;
    transition: all 0.3s;
}

input:focus, select:focus {
    border-color: #007bff;
    box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
    outline: none;
}


/* Update password strength meter */
.password-strength-meter {
    display: flex;
    justify-content: space-between;
}

.password-strength-meter div {
    border-radius: 2px;
    flex-grow: 1;
    height: 10px;
    margin-right: 3px;
    opacity: 0.3;
    transition: opacity 0.3s, background-color 0.3s;
}

.password-strength-meter div:last-child {
margin-right: 0;
}

/*  card-style layout */
.wrapper {
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
padding: 20px;
box-sizing: border-box;
}

.container {
box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
border-radius: 10px;
padding: 30px;
}

.checkbox-container {
    position: relative;
    display: inline-block;
    margin-bottom: 15px;
}

.checkbox-input {
    opacity: 0;
    position: absolute;
    z-index: -1;
}

.checkbox-label {
    cursor: pointer;
    font-size: 14px;
    padding-left: 25px;
    user-select: none;
}

.checkbox-label::before {
    content: "";
    border: 1px solid #999;
    border-radius: 3px;
    display: inline-block;
    height: 16px;
    margin-right: 5px;
    position: absolute;
    left: 0;
    top: 0;
    width: 16px;
}

.checkbox-label::after {
    content: "";
    border: solid #007bff;
    border-width: 0 2px 2px 0;
    display: inline-block;
    height: 6px;
    left: 4px;
    opacity: 0;
    position: absolute;
    top: 3px;
    transform: rotate(45deg);
    width: 10px;
}

.checkbox-input:checked ~ .checkbox-label::after {
    opacity: 1;
}


/* Hover effect for custom checkboxes */
.custom-checkbox:hover span {
    border-color: #007bff;
}

.custom-checkbox input:focus ~ span {
    border-color: #007bff;
    box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
}

/* background texture */
body {
    background-color: #DFDBE5;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='52' height='52' viewBox='0 0 52 52'%3E%3Cpath fill='%239C92AC' fill-opacity='0.4' d='M0 17.83V0h17.83a3 3 0 0 1-5.66 2H5.9A5 5 0 0 1 2 5.9v6.27a3 3 0 0 1-2 5.66zm0 18.34a3 3 0 0 1 2 5.66v6.27A5 5 0 0 1 5.9 52h6.27a3 3 0 0 1 5.66 0H0V36.17zM36.17 52a3 3 0 0 1 5.66 0h6.27a5 5 0 0 1 3.9-3.9v-6.27a3 3 0 0 1 0-5.66V52H36.17zM0 31.93v-9.78a5 5 0 0 1 3.8.72l4.43-4.43a3 3 0 1 1 1.42 1.41L5.2 24.28a5 5 0 0 1 0 5.52l4.44 4.43a3 3 0 1 1-1.42 1.42L3.8 31.2a5 5 0 0 1-3.8.72zm52-14.1a3 3 0 0 1 0-5.66V5.9A5 5 0 0 1 48.1 2h-6.27a3 3 0 0 1-5.66-2H52v17.83zm0 14.1a4.97 4.97 0 0 1-1.72-.72l-4.43 4.44a3 3 0 1 1-1.41-1.42l4.43-4.43a5 5 0 0 1 0-5.52l-4.43-4.43a3 3 0 1 1 1.41-1.41l4.43 4.43c.53-.35 1.12-.6 1.72-.72v9.78zM22.15 0h9.78a5 5 0 0 1-.72 3.8l4.44 4.43a3 3 0 1 1-1.42 1.42L29.8 5.2a5 5 0 0 1-5.52 0l-4.43 4.44a3 3 0 1 1-1.41-1.42l4.43-4.43a5 5 0 0 1-.72-3.8zm0 52c.13-.6.37-1.19.72-1.72l-4.43-4.43a3 3 0 1 1 1.41-1.41l4.43 4.43a5 5 0 0 1 5.52 0l4.43-4.43a3 3 0 1 1 1.42 1.41l-4.44 4.43c.36.53.6 1.12.72 1.72h-9.78zm9.75-24a5 5 0 0 1-3.9 3.9v6.27a3 3 0 1 1-2 0V31.9a5 5 0 0 1-3.9-3.9h-6.27a3 3 0 1 1 0-2h6.27a5 5 0 0 1 3.9-3.9v-6.27a3 3 0 1 1 2 0v6.27a5 5 0 0 1 3.9 3.9h6.27a3 3 0 1 1 0 2H31.9z'%3E%3C/path%3E%3C/svg%3E");
}

